@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
html {
  height: 100%
}
body {
  background: linear-gradient(#B068E9,#6463E7);
  font-family: 'Kumbh Sans', sans-serif;
  height: 100%;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.container {
  font-size: 12px;
  background-size: 100vw 100vh;
  display: flex;
  justify-content: space-around;
  height: 100%;
}

.main {
  align-self: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  max-width: 920px;
  border-radius: 23px;
  background-image: url(../images/bg-pattern-desktop.svg);
  background-position: -510px 72%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.main__img {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.main__img-box--desktop {
  position: absolute;
  left: -92px;
  top: 223px;
  z-index: 100;
}

.main__img--desktop {
  position: relative;
  display: block;
  left: -70px;
  margin: auto;
}

.main__img--mobile {
  display: none;
}

.faq__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px;
  height: auto;
  min-height: 509px;
  transition: none;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

label {
  position: relative;
  display: block;
  width: 100%;
  color: #4B4C5F;
  font-size: 14px;
}

label::after {
  content: '';
  background-image: url('./images/icon-arrow-down.svg');
  transform: rotate(-90deg);
  position: absolute;
  width: 10px;
  height: 7px;
  right: 0;
  top: 4px;  
  transition: all 0.35s;
}

.accordion__container {
  display: flex;
  flex-direction: column;
  min-height: 285px;
}

.accordion__item {
  border-bottom: 1px solid #E8E8EA;
}

.accordion__content {
  max-height: 0;
  transition: all 0.35s;
  overflow: hidden;
  color: #787887;
  line-height: 18px;
}

.collapsible-item-label:hover {
  cursor: pointer;
  color: #F47B56;
}

.accordion__item--title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 0;
  color: #4B4C5F;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.35s;
  cursor: pointer;
}

.accordion__item input:checked + .collapsible-item-label::after {
  transform: rotate(5deg);
}
.accordion__item input:checked + .accordion__item--title .collapsible-item-label::after {
  transform: rotate(5deg);
}

.accordion__item input:checked + .accordion__item--title .collapsible-item-label {
  color: #4B4C5F;
  font-weight: 700;
}

.accordion__item input:checked ~ .accordion__content {
  max-height: 500px;
  padding: 0 0 19px 0;
}

.accordion__item input:not(:checked) + .collapsible-item-label:hover::after {
  transform: rotate(-5deg);
}

.accordion__item input:not(:checked) ~ .accordion__content {
  max-height: 0;
  padding: 0;
}

@media screen and (max-width: 420px) {
  h1 {
    text-align: center;
  }
  .main {
    max-width: 327px;
    min-height: 535px;
    flex-direction: column;
    align-content: center;
  }

  .main__img--desktop {
    display: none;
  }
  .main__img-box--desktop {
    display: none;
  }
  .main__img--mobile {
    display: block;
    position: absolute;
    top: -14%;
    width: 50%;
  }

  .faq__container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-wrap: wrap;
    padding: 60px 20px;
    min-height: 550px;
  }
}

.attribution { 
  position: fixed;
  padding: 10px;
  bottom: 0;
  font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }